/*Estilos generales del documento*/
body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

body h2 {
    font-size: 1.2em;
}

/*Encabezado*/
.encabezado {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    background-color: #587DA3;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
}

.info-general h1 {
    font-size: 1.5em;
    color: black;
}

.info-general h2 {
    color: black
}

.info-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
    align-items: center;
}

.info-contacto ul {
    display: contents;
    list-style: none;
    padding: 10px;
}

.info-contacto li {
    color: white;
    font-size: 0.7em;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    justify-self: center;
}

/*Apartado de información personal*/
.info-completa {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.6;
    gap: 30px;
}

.academico-laboral {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

/*Apartado de Intereses, Habilidades y Hobbies*/
.hab-int-hob {
    background-color: #5F8196;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.hab-int-hob h3 {
    font-size: 0.9em;
}
.hab-int-hob li {
    font-size: 0.8em;
}

/*Resumen, formación académica y laboral*/
.academico-laboral {
    padding: 0;
}

/*Apartado de resumen*/
.resumen p {
    font-size: 0.8em;
}

/*Apartado de la formación académica y laboral*/
.formacion-academica li {
    font-size: 0.9em;
}

.exp-laboral p {
    font-size: 0.8em
}

/*Apartado de contactos*/
.contactos {
    background-color: #587DA3;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
